$colors: (
        primary: rgb(115, 103, 240),
        secondary: #cdd3d8,
        success: #34c38f,
        info: #50a5f1,
        warning: #f1b44c,
        danger: #f46a6a,
        light: #e3eaef,
        grey: #868e96,
        whitesmoke: #f7f9f9,
        dark: #343a40,
        muted: #98a6ad,
        body: #f8f8f8,
        font: #626262,
        fontdark: #34395e,
        white: #ffffff,
    // Form Control
        formcontrol_normal_background: #fdfdff,
        formcontrol_normal_border: #e4e6fc,
        formcontrol_focus_background: #fefeff,
        formcontrol_focus_border: rgb(115, 103, 240),
    // Utilities
        section_title_line: rgb(115, 103, 240),
);

$gradient_colors: (
        primary: rgb(115, 103, 240),
        secondary: #cdd3d8,
        success: #34c38f,
        info: #50a5f1,
        warning: #f1b44c,
        danger: #f46a6a,
        light: #e3eaef,
        grey: #868e96,
        whitesmoke: #f7f9f9,
        dark: #343a40,
        muted: #98a6ad,
        white: #ffffff,
);

$font_family: Montserrat, Helvetica, Arial, sans-serif;
$font_weight: 400;
$font_size: 14px;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

@function color($key) {
    @return map-get($colors, $key);
}

@function color_lighten($key, $amount) {
    @return lighten(map-get($colors, $key), $amount);
}

@function color_darken($key, $amount) {
    @return darken(map-get($colors, $key), $amount);
}

@function to_opacity($color, $opacity) {
    @return rgba(color($color), $opacity);
}

@function color_gradient($key) {
    @return linear-gradient(118deg, rgba(map-get($gradient_colors, $key), 1), rgba(map-get($gradient_colors, $key), .7));
}
